//Background
$bg-white-top: #d3e0ea;
$bg-white-full: #f6f5f5;
// Skin color
$skin-color-0: #1687a7;
// Text Color
$text-color-0: #276678;
$text-color-1: #07090D;
$bg-opacity: rgba(255, 255, 255, 0.5);
$error-color: #ED5A76;
// Width
$full-width: 100%;
$fixed-width: 1140px;
// Height
$height-100: 100%;
$height-100vh: 100vh;