// Black Background
$bg-black-0: #000000;
$bg-black-1: #272727;
$bg-black-2: #565656;
$bg-black-3: #868686;
$bg-black-4: #B6B6B6;
$bg-black-5: #DADADA;
$bg-black-6: #EBEBEB;
$bg-black-7: #ffffff;
// Black Text color
$text-black-0: #000000;
$text-black-1: #272727;
$text-black-2: #565656;
$text-black-3: #868686;
$text-black-4: #B6B6B6;
$text-black-5: #DADADA;
$text-black-6: #EBEBEB;
$text-black-7: #ffffff;
// Width
$full-width: 100%;
$fixed-width: 1140px;
// Height
$height-100: 100%;
$height-100vh: 100vh;