// Import another sass file
@import 'vars',
'reset',
'utilities';
// Google font 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
// Animations
@keyframes fadeInTop {
    0% {
        transform: translateY(-4rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-4rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(4rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// header & Navigation bar
.nav-bar {
    height: 8rem;
    background-color: $bg-white-top;
    line-height: 8rem;
    a {
        display: inline-block;
        color: $text-color-0;
    }
    .nav-brand {
        flex: 0 0 25%;
        max-width: 25%;
        a {
            color: $skin-color-0;
            font-size: 2.6rem;
            text-transform: uppercase;
            // width: 4rem;
            // height: 4rem;
            // border: .2rem solid $skin-color-0;
            // display: inline-block;
            // line-height: 4rem;
            // text-align: center;
            // border-radius: 50%;
        }
    }
    .nav {
        .nav-item {
            margin: 0 1rem;
            .nav-link {
                font-size: 1.8rem;
                text-transform: capitalize;
                font-weight: 300;
                display: inline-block;
                @include transition;
            }
            .nav-link:hover {
                color: $skin-color-0;
            }
        }
        .nav-item:last-child {
            margin-right: 0;
        }
    }
}

//Home section
.home-section {
    background-color: $bg-white-top;
    .row {
        min-height: 70vh;
        background-color: inherit;
        box-sizing: border-box;
    }
    .home-text {
        color: $text-color-1;
        text-transform: capitalize;
        animation: fadeInLeft 1s ease;
        p {
            font-size: 1.8rem;
            font-weight: 300;
            opacity: 0.5;
            margin: 0;
        }
        h2 {
            font-weight: 700;
            font-size: 5.5rem;
            margin: 0;
            span {
                color: $skin-color-0;
            }
        }
        h1 {
            font-weight: 500;
            font-size: 2rem;
            margin: 0;
        }
    }
    .home-img {
        animation: fadeInRight 1s ease;
        .img-box {
            max-width: 45rem;
            display: block;
            margin: auto;
            border: .5rem solid $text-color-1;
            position: relative;
        }
        .img-box::before {
            content: '';
            position: absolute;
            top: -2rem;
            left: -2rem;
            width: 4rem;
            height: 4rem;
            border-top: .5rem solid $text-color-1;
            border-left: .5rem solid $text-color-1;
        }
        .img-box::after {
            content: '';
            position: absolute;
            bottom: -2rem;
            right: -2rem;
            width: 4rem;
            height: 4rem;
            border-bottom: .5rem solid $text-color-1;
            border-right: .5rem solid $text-color-1;
        }
    }
}

//About Section
.about-section {
    .about-me {
        padding-top: 6rem;
        .about-img {
            .img-box {
                margin: auto;
                max-width: 35rem;
                img {
                    border: .5rem solid $text-color-0;
                }
                .social-media {
                    justify-content: space-between;
                    margin-top: 2rem;
                    .social-link {
                        display: inline-block;
                        width: 4rem;
                        height: 4rem;
                        border: .2rem solid $text-color-0;
                        border-radius: 50%;
                        text-align: center;
                        background-color: transparent;
                        @include transition;
                        i {
                            line-height: 3.8rem;
                            font-size: 2.2rem;
                            color: $text-color-0;
                            @include transition;
                        }
                    }
                    .social-link.instagram:hover {
                        border-color: #c32aa3;
                        i {
                            color: #c32aa3;
                        }
                    }
                    .social-link.twitter:hover {
                        border-color: #1da1f2;
                        i {
                            color: #1da1f2;
                        }
                    }
                    .social-link.linkedin-in:hover {
                        border-color: #0a66c2;
                        i {
                            color: #0a66c2;
                        }
                    }
                    .social-link.youtube:hover {
                        border-color: #ff0000;
                        i {
                            color: #ff0000;
                        }
                    }
                    .social-link.github:hover {
                        border-color: #3E2C00;
                        i {
                            color: #3E2C00;
                        }
                    }
                    .social-link.facebook:hover {
                        border-color: #1877f2;
                        i {
                            color: #1877f2;
                        }
                    }
                }
            }
        }
        .about-description {
            p {
                font-size: 1.6rem;
                line-height: 2.6rem;
                font-weight: 400;
                letter-spacing: .1rem;
                opacity: 0.8;
            }
            span {
                font-weight: 700;
                color: $skin-color-0;
                font-size: 1.8rem;
            }
        }
    }
}

// Contact Section
.contact-section {
    min-height: 75vh;
    form {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        margin-top: 6rem;
        .form-left {
            background-color: $bg-white-top;
            display: flex;
            justify-content: center;
            align-items: center;
            .contact-img {
                i {
                    font-size: 8rem;
                    color: $text-color-0;
                    margin-bottom: 1rem;
                }
            }
            p {
                color: $text-color-0;
                margin-bottom: 0;
            }
        }
        .input-group {
            padding: 1rem 0;
            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 1rem;
                background-color: $bg-white-top;
                border: none;
                outline: none;
                font-size: 1.4rem;
                border: .1rem solid transparent;
                @include transition;
                color: $text-color-0;
                resize: none;
            }
            textarea {
                height: 15rem;
            }
            input:focus,
            textarea:focus {
                border-color: $skin-color-0;
            }
            .btn-submit {
                margin-top: 0;
                border-radius: 0;
                font-size: 1.6rem;
                cursor: pointer;
                border-color: $text-color-0;
            }
            .btn-submit:hover {
                background-color: $skin-color-0;
                border-color: $skin-color-0;
            }
        }
    }
}