@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: #f6f5f5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  margin-bottom: 1.2rem;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 3rem;
  margin-bottom: 3.2rem;
}

label,
input,
textarea {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
  color: #276678;
}

a:link {
  color: #276678;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 1.5rem;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 1.5rem;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1.5rem;
}

.relative {
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: #1687a7;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0.2rem solid #1687a7;
  display: inline-block;
  border-radius: 3rem;
  text-transform: capitalize;
  margin-top: 3rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: #07090D;
  color: #f6f5f5;
  border-color: #07090D;
}

.section {
  min-height: 70vh;
  padding: 8rem 0;
}

.section .section-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1.5rem;
  text-align: center;
}

.section .section-title h2 {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  color: #276678;
  font-weight: 700;
  margin: 0;
}

.section .section-title h2::before {
  content: attr(data-heading);
  display: block;
  color: #1687a7;
  font-size: 1.6rem;
  font-weight: 500;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body.hide-scrolling {
  overflow-y: hidden;
}

.nav-bar {
  background-color: #d3e0ea;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-bar .container {
  height: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d3e0ea;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-bar a {
  display: inline-block;
  color: #276678;
}

.nav-bar .nav-brand {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.nav-bar .nav-brand a {
  color: #1687a7;
  font-size: 2.6rem;
  text-transform: uppercase;
}

.nav-bar .nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.nav-bar .nav .nav-item {
  margin: 0 1rem;
}

.nav-bar .nav .nav-item .nav-link {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-bar .nav .nav-item .nav-link:hover {
  color: #1687a7;
  -webkit-box-shadow: inset 0 -3px 0 #1687a7;
          box-shadow: inset 0 -3px 0 #1687a7;
}

.nav-bar .nav .nav-item .nav-link.active {
  color: #1687a7;
  -webkit-box-shadow: inset 0 -3px 0 #1687a7;
          box-shadow: inset 0 -3px 0 #1687a7;
}

.nav-bar .nav .nav-item:last-child {
  margin-right: 0;
}

.nav-bar .hamburger-menu {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  display: none;
}

.nav-bar .hamburger-menu span {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  border: 0.2rem solid #1687a7;
}

.nav-bar .hamburger-menu span i {
  font-size: 2rem;
  color: #1687a7;
  line-height: 3.6rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-bar.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-section {
  background-color: #d3e0ea;
  padding: 4rem 0;
}

.home-section .row {
  min-height: 70vh;
  background-color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-section .home-text {
  color: #07090D;
  text-transform: capitalize;
  -webkit-animation: fadeInLeft 1s ease;
          animation: fadeInLeft 1s ease;
}

.home-section .home-text p {
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 0.5;
  margin: 0;
}

.home-section .home-text h2 {
  font-weight: 700;
  font-size: 5.5rem;
  margin: 0;
}

.home-section .home-text h2 span {
  color: #1687a7;
}

.home-section .home-text h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.home-section .home-img {
  -webkit-animation: fadeInRight 1s ease;
          animation: fadeInRight 1s ease;
}

.home-section .home-img .img-box {
  max-width: 45rem;
  display: block;
  margin: auto;
  border: 0.5rem solid #07090D;
  position: relative;
}

.home-section .home-img .img-box::before {
  content: '';
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 4rem;
  height: 4rem;
  border-top: 0.5rem solid #07090D;
  border-left: 0.5rem solid #07090D;
}

.home-section .home-img .img-box::after {
  content: '';
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  width: 4rem;
  height: 4rem;
  border-bottom: 0.5rem solid #07090D;
  border-right: 0.5rem solid #07090D;
}

.about-section .about-me {
  padding-top: 6rem;
}

.about-section .about-me .about-img .img-box {
  margin: auto;
  max-width: 35rem;
}

.about-section .about-me .about-img .img-box img {
  border: 0.5rem solid #276678;
}

.about-section .about-me .about-img .img-box .social-media {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.about-section .about-me .about-img .img-box .social-media .social-link {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid #276678;
  border-radius: 50%;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.about-section .about-me .about-img .img-box .social-media .social-link i {
  line-height: 3.8rem;
  font-size: 2.2rem;
  color: #276678;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.about-section .about-me .about-img .img-box .social-media .social-link.instagram:hover {
  border-color: #c32aa3;
}

.about-section .about-me .about-img .img-box .social-media .social-link.instagram:hover i {
  color: #c32aa3;
}

.about-section .about-me .about-img .img-box .social-media .social-link.twitter:hover {
  border-color: #1da1f2;
}

.about-section .about-me .about-img .img-box .social-media .social-link.twitter:hover i {
  color: #1da1f2;
}

.about-section .about-me .about-img .img-box .social-media .social-link.linkedin-in:hover {
  border-color: #0a66c2;
}

.about-section .about-me .about-img .img-box .social-media .social-link.linkedin-in:hover i {
  color: #0a66c2;
}

.about-section .about-me .about-img .img-box .social-media .social-link.youtube:hover {
  border-color: #ff0000;
}

.about-section .about-me .about-img .img-box .social-media .social-link.youtube:hover i {
  color: #ff0000;
}

.about-section .about-me .about-img .img-box .social-media .social-link.github:hover {
  border-color: #3E2C00;
}

.about-section .about-me .about-img .img-box .social-media .social-link.github:hover i {
  color: #3E2C00;
}

.about-section .about-me .about-description p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  opacity: 0.8;
}

.about-section .about-me .about-description span {
  font-weight: 700;
  color: #1687a7;
  font-size: 1.8rem;
}

.testimonial-section {
  margin-top: 1px;
}

.testimonial-section .testimonial-item {
  margin-top: 6rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.testimonial-section .testimonial-item .testimonial-inner {
  position: relative;
  padding: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.testimonial-section .testimonial-item .testimonial-inner .quote {
  font-size: 2.4rem;
  color: #1687a7;
}

.testimonial-section .testimonial-item .testimonial-inner p {
  margin-top: 3rem;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info {
  z-index: 4;
  position: relative;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-img {
  max-width: 8rem;
  margin: auto;
  margin-bottom: 2.5rem;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-img img {
  border-radius: 50%;
  border: 0.4rem solid #276678;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2rem;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-social-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-social-link a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0 .5rem;
  border: .2rem solid #fff;
  line-height: 3.6rem;
  text-align: center;
  border-radius: 50%;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-social-link a i {
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-social-link a:hover {
  border-color: #1687a7;
}

.testimonial-section .testimonial-item .testimonial-inner .client-info .client-social-link a:hover i {
  color: #1687a7;
}

.testimonial-section .testimonial-item .testimonial-inner::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16rem;
  background-color: #276678;
  z-index: 3;
}

.testimonial-section .testimonial-item:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.testimonial-section .testimonial-item:hover .testimonial-inner {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portfolio-section .portfolio-filter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-top: 6rem;
  padding: 0 1.5rem;
}

.portfolio-section .portfolio-filter .filter-item {
  margin: 0 .5rem 1rem;
  padding: .5rem 1rem;
  display: inline-block;
  border: 0.2rem solid #276678;
  color: #276678;
  background-color: transparent;
  border-radius: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.portfolio-section .portfolio-filter .filter-item.active {
  background-color: #1687a7;
  border-color: #1687a7;
  color: #fff;
}

.portfolio-section .portfolio-filter .filter-item:hover:not(.active) {
  opacity: 0.7;
}

.portfolio-section .portfolio-items {
  margin-top: 3rem;
}

.portfolio-section .portfolio-items .portfolio-item {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-section .portfolio-items .portfolio-item .portfolio-item-inner {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  position: relative;
}

.portfolio-section .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-img img {
  border-radius: .5rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-section .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-img .project-btn {
  text-transform: capitalize;
  color: #1687a7;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  display: inline-block;
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  position: relative;
  z-index: -1;
  opacity: 0;
}

.portfolio-section .portfolio-items .portfolio-item .portfolio-item-inner p {
  margin: 1rem 0 0;
  font-size: 1.6rem;
  text-transform: capitalize;
  opacity: 0.5;
}

.portfolio-section .portfolio-items .portfolio-item .portfolio-item-inner .portfolio-item-details {
  display: none;
}

.portfolio-section .portfolio-items .portfolio-item.hide {
  display: none;
}

.portfolio-section .portfolio-items .portfolio-item.show {
  display: block;
  -webkit-animation: fadeInTop 0.5s ease;
          animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-items .portfolio-item-inner:hover .portfolio-img img {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.portfolio-section .portfolio-items .portfolio-item-inner:hover .portfolio-img .project-btn {
  -webkit-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
  z-index: 1;
  opacity: 1;
}

.contact-section {
  min-height: 75vh;
}

.contact-section form {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: 6rem;
}

.contact-section form .form-left {
  background-color: #d3e0ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section form .form-left .contact-img i {
  font-size: 8rem;
  color: #276678;
  margin-bottom: 1rem;
}

.contact-section form .form-left p {
  color: #276678;
  margin-bottom: 0;
}

.contact-section form .form-right {
  padding: 1rem 1.5rem;
}

.contact-section form .form-right .success {
  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  padding: 25%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.contact-section form .form-right .success .success-inner {
  width: 100%;
  height: 100%;
  background-color: #f6f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.05);
}

.contact-section form .form-right .success .success-inner p {
  color: #276678;
}

.contact-section form .form-right .success .success-inner span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  margin-left: 2rem;
}

.contact-section form .form-right .success .success-inner span i {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: green;
}

.contact-section form .form-right .success .success-inner .btn-contact-success {
  display: block;
}

.contact-section form .form-right .success.hide {
  visibility: visible;
  opacity: 0;
}

.contact-section form .input-group .error {
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  color: #ED5A76;
  padding: 0 0 1rem 1rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.contact-section form .input-group .error.show {
  -webkit-animation: shake 0.3s ease-in-out;
          animation: shake 0.3s ease-in-out;
}

.contact-section form .input-group .error-color {
  border-color: #ED5A76 !important;
  color: #ED5A76 !important;
}

.contact-section form .input-group input[type="text"],
.contact-section form .input-group input[type="email"],
.contact-section form .input-group textarea {
  width: 100%;
  padding: 1rem;
  background-color: #d3e0ea;
  border: none;
  outline: none;
  font-size: 1.4rem;
  border: .1rem solid transparent;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: #276678;
  resize: none;
}

.contact-section form .input-group textarea {
  height: 15rem;
}

.contact-section form .input-group input:focus,
.contact-section form .input-group textarea:focus {
  border-color: #1687a7;
}

.contact-section form .input-group .btn-submit {
  margin-top: 0;
  border-radius: 0;
  font-size: 1.6rem;
  cursor: pointer;
  border-color: #276678;
}

.contact-section form .input-group .btn-submit:hover {
  background-color: #1687a7;
  border-color: #1687a7;
}

.portfolio-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10000;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.portfolio-popup .pp-details {
  max-width: 135rem;
  width: calc(85% + 3rem);
  display: block;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.portfolio-popup .pp-details p {
  margin-bottom: 1.2rem;
}

.portfolio-popup .pp-details .pp-details-inner {
  padding: 3rem 0;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title {
  padding: 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title h2 {
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.8;
  margin: 0 0 .5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title p {
  font-size: 1.4rem;
  opacity: 0.6;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #276678;
  font-weight: 600;
}

.portfolio-popup .pp-details .pp-details-inner .pp-title p span {
  font-weight: 400;
  text-transform: capitalize;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details h3 {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.7;
  margin: 0 0 1.5rem;
  text-transform: capitalize;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
  padding: 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details .description p {
  font-size: 1.6rem;
  opacity: 0.6;
  margin: 0;
  line-height: 2.6rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
  padding: 0 1.5rem;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details .info li {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.6;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details .info li span {
  font-weight: 400;
}

.portfolio-popup .pp-details .pp-details-inner .pp-project-details .info li:last-child {
  margin-bottom: 0;
}

.portfolio-popup .pp-details.active {
  opacity: 1;
}

.portfolio-popup .pp-main {
  min-height: 100vh;
  max-width: 135rem;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-popup .pp-main .pp-main-inner {
  padding: 7rem 0 5rem;
  position: relative;
}

.portfolio-popup .pp-main .pp-main-inner .btn {
  margin-top: 0;
  top: 1.5rem;
  cursor: pointer;
  padding: .5rem 1rem;
}

.portfolio-popup .pp-main .pp-main-inner .btn:hover {
  background-color: #1687a7;
  border-color: #1687a7;
}

.portfolio-popup .pp-main .pp-main-inner .pp-details-btn {
  position: absolute;
  left: 0;
}

.portfolio-popup .pp-main .pp-main-inner .pp-details-btn i {
  margin-left: .5rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-close-btn {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.portfolio-popup .pp-main .pp-main-inner .pp-close-btn i {
  font-size: 2rem;
  line-height: 3.6rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-img {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: .5rem;
}

.portfolio-popup .pp-main .pp-main-inner .pp-counter {
  position: absolute;
  bottom: .5rem;
  right: 0;
  height: 4rem;
  line-height: 4rem;
  opacity: 0.6;
  font-weight: 400;
}

.portfolio-popup .pp-main .pp-prev,
.portfolio-popup .pp-main .pp-next {
  position: fixed;
  top: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  cursor: pointer;
  border: 0.2rem solid #276678;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 50%;
}

.portfolio-popup .pp-main .pp-prev i,
.portfolio-popup .pp-main .pp-next i {
  font-size: 2rem;
  line-height: 3.6rem;
  color: #276678;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.portfolio-popup .pp-main .pp-next:hover,
.portfolio-popup .pp-main .pp-prev:hover {
  border-color: #1687a7;
  background-color: #1687a7;
}

.portfolio-popup .pp-main .pp-next:hover i,
.portfolio-popup .pp-main .pp-prev:hover i {
  color: #fff;
}

.portfolio-popup .pp-main .pp-prev {
  left: 1.5rem;
}

.portfolio-popup .pp-main .pp-next {
  right: 1.5rem;
}

.portfolio-popup .pp-main .pp-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1005;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.portfolio-popup .pp-main .pp-loader div {
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid #1687a7;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.portfolio-popup .pp-main .pp-loader.active {
  opacity: 1;
  visibility: visible;
}

.portfolio-popup .separator {
  width: 100%;
  height: .1rem;
  background-color: #276678;
  opacity: 0.2;
}

.portfolio-popup.open {
  visibility: visible;
  opacity: 1;
}

.footer-section {
  min-height: 20vh;
  padding: 4rem 0 1rem;
  background-color: #d3e0ea;
}

.footer-section .social-media {
  margin-top: 2rem;
}

.footer-section .social-media .social-link {
  margin: 0 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.footer-section .social-media .social-link i {
  line-height: 4rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.footer-section .social-media .social-link:hover i {
  color: #f6f5f5;
}

.footer-section .copyright {
  margin-top: 4rem;
}

.footer-section .copyright p {
  color: #276678;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 992px) {
  .home-section .home-text h2 {
    font-size: 4rem;
  }
  .portfolio-popup .pp-main {
    max-width: 99.01rem;
  }
  .portfolio-popup .pp-details {
    max-width: 99.01rem;
  }
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .nav-bar {
    position: relative;
    z-index: 999;
  }
  .nav-bar .container {
    height: 6rem;
    position: relative;
  }
  .nav-bar .nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    background-color: #d3e0ea;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  .nav-bar .nav .nav-item {
    margin: 1rem 0;
  }
  .nav-bar .nav.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav-bar .hamburger-menu {
    display: block;
  }
  .home-section .home-text {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .home-section .home-img {
    padding-bottom: 6rem;
  }
  .home-section .home-img .img-box {
    max-width: 350px;
  }
  .testimonial-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-section {
    min-height: 65vh;
  }
}

@media (max-width: 768px) {
  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .about-section .about-me .about-img {
    padding-bottom: 3rem;
  }
  .about-section .about-me .about-img .img-box {
    max-width: 30rem;
  }
  .about-section .about-me .about-description p {
    margin-bottom: 2rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
  }
  .contact-section form .form-left {
    padding: 6rem;
    margin-bottom: 3rem;
  }
  .section .section-title h2 {
    font-size: 2.4rem;
  }
  .portfolio-popup .pp-main {
    max-width: 76.8rem;
  }
  .portfolio-popup .pp-details {
    max-width: 99.01rem;
  }
  .portfolio-popup .pp-details .pp-details-inner .pp-project-details .description,
  .portfolio-popup .pp-details .pp-details-inner .pp-project-details .info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio-popup .pp-details .pp-details-inner .pp-project-details .info {
    padding-top: 3rem;
  }
}

@media (max-width: 576px) {
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .home-img .img-box {
    max-width: 30rem;
  }
  .home-section .home-text h2 {
    font-size: 3rem;
  }
  .home-section .home-text h1 {
    font-size: 1.8rem;
  }
  .btn {
    padding: .7rem 1.5rem;
  }
  .about-section .about-me .about-img .img-box {
    max-width: 25rem;
  }
  .testimonial-section .testimonial-item .testimonial-inner .client-info h4 {
    font-size: 1.8rem;
  }
  .testimonial-section .testimonial-item .testimonial-inner .client-info .client-social-link a {
    width: 3rem;
    height: 3rem;
    line-height: 2.6rem;
  }
  .footer-section .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */